#sidebar {
    border: 1px solid;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
}
#stats {
    font-size: 18px;
    color: #fff;
    flex: 1;
    white-space: nowrap;
    flex-direction: row;
}
#stats .info {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin: 10px;
    padding: 0;
    font-weight: bold;
    transform: rotate(-15deg);
}
.units {
    display: block;
}
#stats .info .wrapper > span {
    font-weight: normal;
}
#stats .info .wrapper {
    padding: 20px;
}
