table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    thead {
        th {
            border-bottom: 3px solid #06f;
            margin: 0;
        }
    }
    tbody {
        tr {
            &:nth-child(even) {
                background-color: #222;
            }
        }
    }
    tbody,
    thead {
        th,
        td {
            text-align: center;
            padding: 10px;
        }
    }
}
